<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section id="section-1">
      <div class="content-slider">
        <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
        <input type="radio" id="banner2" class="sec-1-input" name="banner">
        <input type="radio" id="banner3" class="sec-1-input" name="banner">
        <input type="radio" id="banner4" class="sec-1-input" name="banner">
        <div class="slider">
          <div id="top-banner-1" class="banner">
            <div class="banner-inner-wrapper">
                <h2>What We Do</h2>
                <h1>Great<br>MoGo</h1>
                <div class="line"></div>
               
              </div>
          </div>
          <div id="top-banner-2" class="banner">
          
          </div>
          <div id="top-banner-3" class="banner">
           
          </div>
          <div id="top-banner-4" class="banner">
           
          </div>
        </div>
        <nav>
          <div class="controls">
            <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span></label>
            <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span></label>
            <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span></label>
            <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span></label>
          </div>
        </nav>
      </div>
    </section>
    
  </body>
</html>
