<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Card Hover</title>

    <script src="assets/product.js"></script>
</head>
<body>
    <div class="min-h-screen bg-white pb-20 grid">
       

        <div class='grid place-items-center lg:grid-cols-4 _container gap-y-10'>
           

            <div class="card1 card rounded-lg px-8 py-20 relative hover:shadow-xl">
              
                <a href="#" routerLink="detail" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
                <div class="image image-2">
                    <img src="assets/tshirt1.gif" 
                    data-hover-src="assets/tshirt1hover.png" alt="Fall Guys" class="product rounded transition-all duration-500">
                </div>
            </div>
            <div class="card1 card rounded-lg px-8 py-20 relative hover:shadow-xl">
              
                <a href="#" routerLink="detail" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
                <div class="image image-2">
                    <img src="assets/White.gif" 
                    data-hover-src="assets/whitehover.png" alt="Fall Guys" class="product rounded transition-all duration-500">
                </div>
            </div> 
            <div class="card1 card rounded-lg px-8 py-20 relative hover:shadow-xl">
              
                <a href="#" routerLink="detail" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
                <div class="image image-2">
                    <img src="assets/Comp.gif" 
                    data-hover-src="assets/comphover.png" alt="Fall Guys" class="product rounded transition-all duration-500">
                </div>
            </div>
            <div class="card1 card rounded-lg px-8 py-20 relative hover:shadow-xl">
              
                <a href="#" routerLink="detail" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
                <div class="image image-2">
                    <img src="assets/half1.gif" 
                    data-hover-src="assets/whitehalfhover.png" alt="Fall Guys" class="product rounded transition-all duration-500">
                </div>
            </div>
            <div class="card1 card rounded-lg px-8 py-20 relative hover:shadow-xl">
              
                <a href="#" routerLink="detail" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
                <div class="image image-2">
                    <img src="assets/half 2.gif" 
                    data-hover-src="assets/blackhalfhover.png" alt="Fall Guys" class="product rounded transition-all duration-500">
                </div>
            </div>
            <div class="card1 card rounded-lg px-8 py-20 relative hover:shadow-xl">
              
                <a href="#" routerLink="detail" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
                <div class="image image-2">
                    <img src="assets/half 3.gif" 
                    data-hover-src="assets/silverhalfhover.png" alt="Fall Guys" class="product rounded transition-all duration-500">
                </div>
            </div> 
            <div class="card1 card rounded-lg px-8 py-20 relative hover:shadow-xl">
              
                <a href="#" routerLink="detail" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
                <div class="image image-2">
                    <img src="assets/Comp.gif" 
                    data-hover-src="assets/comphover.png" alt="Fall Guys" class="product rounded transition-all duration-500">
                </div>
            </div>
            <div class="card1 card rounded-lg px-8 py-20 relative hover:shadow-xl">
              
                <a href="#" routerLink="detail" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
                <div class="image image-2">
                    <img src="assets/tshirt1.gif" 
                    data-hover-src="assets/tshirt1hover.png" alt="Fall Guys" class="product rounded transition-all duration-500">
                </div>
            </div>
            
        </div>
    </div>
   
 
   
</body>
</html>
