



<div class="min-h-screen bg-white pb-20 grid">
    <div class='grid place-items-center lg:grid-cols-4 _container gap-y-10'>
        <div class="card rounded-lg px-8 py-20 relative hover:shadow-xl" *ngFor="let product of products">
            <a href="#" [routerLink]="['/product', product.pid]" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
            <div class="image image-2">
                <!-- Use property binding to bind the src attribute -->
                <img [src]="product.img1" alt="Fall Guys" class="product rounded transition-all duration-500">
            </div>
        </div>
        <div class="card rounded-lg px-8 py-20 relative hover:shadow-xl">
            <a href="#" class="buy buy-among-us absolute bottom-0 bg-gray-600 hover:bg-gray-500 text-white px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-among-us">Buy Now</a>
            <div class="image image-2">
                <!-- Use property binding to bind the src attribute -->
                <img src="assets/whd.png" alt="Fall Guys" class="product rounded transition-all duration-500">
            </div>
        </div>
    </div>
</div>

